.side-bar
  .user
    .user__name
      test-user
    .user__icon
      = fa_icon "edit"
      = fa_icon "cog"



  .groups
    .group
      .group__name
        test-group
        .group__message
          さようなら
      .group__name
        sample-group
        .group__message
          hello!
      .group__name
        example
        .group__message
          まだメッセージがありません
      

