

.chat_title{
  float: left;
  margin-left: 40px;
}


.title__name{
  font-size: 20px;
  margin-top: 50px;
}

.user__name{
  font-size: 12px;
  padding-top: 15px;
}


  .button{
    display: inline-block;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    float: right;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 28px;
    margin-right: 40px;
  }
  
  