.main{
  height: 550px;
  padding-top: 100px;
  margin: 46px 40px 40px 0;
  box-sizing: border-box;
  
  
  &__user{
    font-size: 12px;
    font-weight: bold;
    
  }

  .back{
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: #c0c0c0;
    height: 100px;
    width: 900px;
    z-index: -1;
  }


  .form {
    background-color: aqua;
    position: absolute;
    bottom: 20px;
    right: 0;
    
    &__message {
      border: none;
      height: 50px;
      width: 710px;
      float: left;
      bottom: 0;
    }


    &__icon {
      float: right;
      height: 50px;
      background-color: #ffffff;
      padding-right: 10px;
      &__image {
        font-size: 30px;
      }

      .out {
        display: none;
      }
    }

    .send {
      background-color: #38aef0;
      color: #ffffff;
      float: right;
      height: 50px;
      padding: 0 30px;
    }
  }
}

